In [2]:
import numpy as np
import pandas as pd

In [10]:
#considered columns are----cust_id,product,quantity,revenue
cust_orders = pd.read_csv(r"C:\Users\ZainA\OneDrive\Desktop\CustomerID.csv")  #data is stored in dataframe

In [11]:
cust_orders

    Cust_id  Product  Quantity_ordered  Revenue
0         1      103                 3     5958
1         7      103                 7     5199
2         4      103                 1     1676
3         4      105                 6     5963
4         4      106                 3     7000
..      ...      ...               ...      ...
94        6      107                 7     2517
95        1      101                 7     5235
96        4      104                 6     4452
97        1      104                 9     1488
98        4      101                10     5375

[99 rows x 4 columns]

In [12]:
x = pd.DataFrame(pd.pivot_table(data = cust_orders,index='Product', values = 'Quantity_ordered', aggfunc = 'sum').sort_values(by = 'Quantity_ordered', ascending=False))

In [13]:
y = {i:j for i,j in zip(x.index.values, x['Quantity_ordered'])}

In [14]:
v = list(y.keys())

In [15]:
print('product:', v[0],'Quantity:',y[v[0]])

product: 107 Quantity: 109

In [16]:
z = pd.DataFrame(pd.pivot_table(data = cust_orders,index='Product', values = 'Revenue', aggfunc = 'mean').sort_values(by = 'Revenue', ascending=False))

In [17]:
z = pd.DataFrame(z)

In [18]:
t = pd.DataFrame(pd.pivot_table(data = cust_orders,index='Product', values = 'Revenue', aggfunc = 'sum').sort_values(by = 'Revenue', ascending=False))

In [19]:
d = {i:j for i,j in zip(v,t['Revenue'])}

In [20]:
print('top 5 products are:' ,v[0:5],'their avg. revenue:', list(d.values())[0:5])

top 5 products are: [107, 105, 103, 104, 106] their avg. revenue: [77663, 70448, 58810, 58040, 53322]

In [21]:
u = pd.pivot_table(data=cust_orders ,index= 'Product',values = ['Quantity_ordered','Revenue'], aggfunc = 'sum')

In [22]:
u = pd.DataFrame(u)

In [23]:
u.to_csv('product_summary.csv')